@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "sportsfont/css/sports.css";

@theme {
  --color-text-primary: #ffffff;
  --color-text-accent: #1b1863;
  --color-text-main: #1b1863;
  --color-text-highlight: #ffffff;
  --color-text-secondary: #ffc457;
  --color-text-control-fade: #6f6ea1;


  --color-background-primary: #1b1863;
  --color-background-accent: #f7f7ff;
  --color-background-main: #ffffff;
  --color-background-highlight: #474681;
  --color-background-modal: #f8f7ff;
  --color-background-control-fade: #f0f0ff;

  --color-border-modal: #ccced6;
  --color-border-fade: #f1f0ff;

  --text-2xs: 0.65rem;
}

:root {
  color: var(--color-text-main);
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
}

body {
  margin: 0;
  padding: 0;
}
