@import "tailwindcss";
@import "sportsfont/css/sports.css";

@theme {
  --color-text-primary: #ffffff;
  --color-text-accent: #1b1863;
  --color-text-main: #1b1863;
  --color-text-highlight: #ffffff;
  --color-text-secondary: #ffc457;
  --color-text-control-fade: #6f6ea1;


  --color-background-primary: #1b1863;
  --color-background-accent: #f7f7ff;
  --color-background-main: #ffffff;
  --color-background-highlight: #474681;
  --color-background-modal: #f8f7ff;
  --color-background-control-fade: #f0f0ff;

  --color-border-modal: #ccced6;
  --color-border-fade: #f1f0ff;

  --text-2xs: 0.65rem;

  --breakpoint-desktop: 700px;
}

button {
  cursor: pointer;
}

:root {
  color: var(--color-text-main);
  font-optical-sizing: auto;
}

@media screen and (max-width: 350px) {
  :root {
    font-size: 8px;
  }
}

@media screen and (min-width: 350px) {
  :root {
    font-size: 11px;
  }
}

@media screen and (min-width: 400px) {
  :root {
    font-size: 12px;
  }
}

@media screen and (min-width: 500px) {
  :root {
    font-size: 14px;
  }
}

@media screen and (min-width: 600px) {
  :root {
    font-size: 16px;
  }
}

@media screen and (min-width: 650px) {
  :root {
    font-size: 18px;
  }
}

/* END OF MOBILE */

@media screen and (min-width: 700px) {
  :root {
    font-size: 12px;
  }
}

@media screen and (min-width: 1000px) {
  :root {
    font-size: 16px;
  }
}

@media screen and (min-width: 1199px) {
  :root {
    font-size: 18px;
  }
}

@media screen and (min-width: 1850px) {
  :root {
    font-size: 20px;
  }
}

body {
  margin: 0;
  padding: 0;
}
