@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "sportsfont/css/sports.css";

@theme {
  --color-text-primary: #ffffff;
  --color-text-accent: #1b1863;
  --color-text-main: #1b1863;
  --color-text-hightlight: #ffffff;

  --color-background-primary: #1b1863;
  --color-background-accent: #f7f7ff;
  --color-background-main: #ffffff;
  --color-background-highlight: #474681;
}

:root {
  color: var(--color-text-main);
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
}

